<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Layout</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="./style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <nav>
          <ul>
            <li>One</li>
            <li>Two</li>
            <li class="push-left">Three</li>
          </ul>
        </nav>
      </header>
      <main>
        <section class="blarticle">
          <h1>Headline</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </section>
        <section class="grid-container">
          <div class="zone green">🦊</div>
          <div class="zone red">🐰</div>
          <div class="zone blue">🐸</div>
          <div class="zone yellow">🦁</div>
          <div class="zone purple">🐯</div>
          <div class="zone brown">🐭</div>
          <div class="zone green">🦄</div>
          <div class="zone red">🐲</div>
          <div class="zone blue">🐷</div>
          <div class="zone yellow">🐺</div>
          <div class="zone purple">🐼</div>
          <div class="zone brown">🐻</div>
        </section>
      </main>
      <footer>
        <span>Footer info here</span>
      </footer>
    </div>
  </body>
</html>
